.network-node {
    cursor      : pointer;
    height      : 10em;
    position    : absolute;
    width       : 2.5em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.network-node img,
.collab-selected .children-nodes .network-node img,
.lb-trailing-node .children-nodes .network-node img {
    height      : 10em;
    margin      : -5em 0 0 -3em;
    position    : absolute;
}
.collab-selected .network-node img,
.lb-trailing-node .collab-selected .network-node img {
    height      : 18em;
    margin      : -9em 0 0 -6em;
}

.trailing {

}

.lb-node-hover {
    border : solid 1px #f00;
    z-index     : 10;
}

.network-node h4 {
    color       : #333;
}

/* controls */

.collab-map-zoom-in, .collab-map-zoom-out {
    background  : #369;
    bottom      : 20px;
    color       : #fff;
    cursor      : pointer;
    font-size   : 20px;
    line-height : 16px;
    height      : 20px;
    position    : absolute;
    right       : 20px;
    text-align  : center;
    width       : 20px;
}

.collab-map-zoom-in {
    right       : 50px;
}

/* */
.grab-cursor {
  cursor        : hand;
  cursor        : grab;
  cursor        : -moz-grab;
  cursor        : -webkit-grab;
}

/*
.grab-cursor {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
*/
.grabbing-cursor {
  cursor        : grabbing;
  cursor        : -moz-grabbing;
  cursor        : -webkit-grabbing;
}
/*
.grabbing-cursor {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}
*/