.lb-network-node {
    z-index     : 2;
}

.lb-network-node:hover {
    z-index     : 3;
}

.network-node.collab-selected {
    background  : #ffaf4b; /* Old browsers */
    background  : -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
    background  : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
    background  : -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
    background  : -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
    background  : -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
    background  : linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* W3C */
    filter      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    border      : solid 4px #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor      : pointer;
    margin      : -50px 0 0 -80px;
    max-height  : 100px;
    overflow    : hidden;
    padding     : 5px 1px;
    position    : absolute;
    width       : 140px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collab-selected {
    z-index     : 20;
}

.starting-node {
    height          : 187px;
    margin          : -94px 0 0 -94px;
    position        : absolute;
    width           : 187px;
}

.wheel-background {
    background      : url(../img/wheel.png) 0 0 no-repeat;
    height          : 187px;
    left            : 0;
    position        : absolute;
    top             : 0;
    width           : 187px;
}

#directors-choice {
    background      : #000;
    border          : none;
    height          : 90px;
    left            : 120px;
    position        : absolute;
    top             : 80px;
    opacity         : 0.6;
    width           : 80px;
}

#genre-choice {
    background      : #000;
    border          : none;
    border-top      : 45px solid #000;
    -moz-border-radius-topleft: 300px;
    -moz-border-radius-topright: 300px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 100% 100% 0px 0px;
    border-radius: 80px 80px 0px 0px;
    height          : 0px;
    left            : 12px;
    position        : absolute;
    top             : 2px;
    opacity         : 0.1;
    width           : 157px;
}

.selection-box {
    background      : #ED1C24;
    cursor          : default;
    max-height      : 356px;
    margin          : -40px 0 0 -90px;
    padding         : 7px 6px;
    position        : absolute;
    width           : 235px;
}

.director-box,
.decade-box,
.genre-box {
    background      : #ED1C24;
    -webkit-border-radius: 186px;
    -moz-border-radius: 186px;
    border-radius   : 186px;
    height          : 186px;
    margin          : -93px 0 0 -93px;
    position        : absolute;
    width           : 186px;
}

.decades-box,
.decade-box {
    background      : #8DC63F;
}

.genres-box,
.genre-box {
    background      : #27AAE1;
}

.list-container {
    max-height      : 320px;
    min-height      : 100px;
    overflow        : hidden;
}

.selection-box input {
    border          : solid 1px #777;
    margin          : 0 0 10px;
    outline         : none;
    padding         : 4px 5px 3px;
    width           : 220px;
}

.option-list {
    margin          : 0 30px 0 0;
}

.option-list a {
    color           : #fff;
    display         : block;
    text-decoration : none;
}

.option-list a:hover {
    background      : #fff;
    color           : #ED1C24;
}

.decades-box a:hover {
    color           : #8DC63F;
}

.genres-box a:hover{
    color           : #27AAE1;
}

.scroll-button {
    background      : url(../img/scroll-u.png) 0 0 no-repeat;
    height          : 18px;
    overflow        : hidden;
    position        : absolute;
    right           : 8px;
    text-indent     : 20px;
    top             : 42px;
    white-space     : nowrap;
    width           : 18px;
    z-index         : 2;
}

.scroll-up {
    display         : none;
}

.scroll-down {
    background-image: url(../img/scroll-d.png);
    bottom          : 8px;
    top             : auto;
}

.director-name,
.decade-name,
.genre-name {
    color           : #fff;
    margin-top      : 40%;
    position        : absolute;
    text-align      : center;
    width           : 186px;
}

.node-for-decade>.lb-network-node>.children-nodes>.collab-selected>.network-node {
    border      : #8DC63F 3px solid;
}

.node-for-director>.lb-network-node>.children-nodes>.collab-selected>.network-node {
    border      : #ED1C24 3px solid;
}

.node-for-genre>.lb-network-node>.children-nodes>.collab-selected>.network-node {
    border      : #27AAE1 3px solid;
}

.node-for-decade>.lb-network-node>.children-nodes>.collab-selected>.network-node>.actions>.set-decade,
.node-for-director>.lb-network-node>.children-nodes>.collab-selected>.network-node>.actions>.set-director,
.node-for-genre>.lb-network-node>.children-nodes>.collab-selected>.network-node>.actions>.set-genre {
    display         : none;
}

.set-decade, .set-director,
.set-genre, .return-parent {
    background  : #8DC63F;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border       : none;
    color       : #fff;
    display     : inline-block;
    font-size   : 10px;
    height      : 80px;
    margin-right : 16px;
    vertical-align  : top;
    width       : 80px;
}

.return-parent {
    background  : #414042;
    float       : right;
    height      : 40px;
    text-transform : uppercase;
    width       : 40px;
}

.set-decade {
    font-size   : 24px
}

.set-director {
    background  : #ED1C24;
}

.set-genre {
    background  : #27AAE1;
}

.network-node .text,
.network-node .actions,
.network-node .film-info {
    display  : none;
}

.network-node .actions {
    border-top  : 1px solid #fff;
    margin      : 20px 0 0;
    padding     : 20px 0 0;
}

.network-node {
    cursor      : default;
    margin      : -50px 0 0 -30px;
    min-width   : 25px;
    position    : absolute;
}

.network-node img {
    cursor      : pointer;
    height      : 100px;
    width       : 60px
}

.concept-2 .collab-selected>.network-node {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 89%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(89%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
    background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 89%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 );
    color       : #fff;
    margin      : -80px -60px 0;
    width       : 400px;
    padding     : 20px;
}

.concept-2 .collab-selected>.network-node>.node-info-left-side img {
    cursor      : default;
    display     : block;
    height      : auto;
    margin      : 0 0 10px;
    position    : relative;
    width       : 100%;
}

.concept-2 .collab-selected>.network-node>.node-info-left-side {
    float       : left;
    margin      : 0 10px 10px 0;
    position    : relative;
    width       : 100px;
}

.collab-selected>.network-node>.text,
.collab-selected>.network-node>.actions {
    display     : block;
    max-height  : 240px;
    overflow    : auto;
}

.collab-selected>.network-node>.node-info-left-side .film-info {
    display     : block;
    font-size   : 10px;
}

.lb-node-hover {
    border-color    : #bbb;
    z-index     : 10;
}

.theme {
    background  : rgb(247,251,252); /* Old browsers */
    background  : -moz-linear-gradient(-45deg,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
    background  : -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
    background  : -webkit-linear-gradient(-45deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background  : -o-linear-gradient(-45deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
    background  : -ms-linear-gradient(-45deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
    background  : linear-gradient(-45deg,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
    filter      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin      : -50px 0 0 -50px;
    width       : 80px;
}

.trailing {
    border-color : #ddd;
}

.starting-node h4,
.network-node h4 {
    color       : #fff;
}

/* controls */

.collab-map-zoom-in, .collab-map-zoom-out {
    background  : #369;
    bottom      : 20px;
    color       : #fff;
    cursor      : pointer;
    font-size   : 20px;
    line-height : 16px;
    height      : 20px;
    position    : absolute;
    right       : 20px;
    text-align  : center;
    width       : 20px;
}

.collab-map-zoom-in {
    right       : 50px;
}

/* */
.grab-cursor {
  cursor        : hand;
  cursor        : grab;
  cursor        : -moz-grab;
  cursor        : -webkit-grab;
}

/*
.grab-cursor {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
*/
.grabbing-cursor {
  cursor        : grabbing;
  cursor        : -moz-grabbing;
  cursor        : -webkit-grabbing;
}
/*
.grabbing-cursor {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}
*/